.header__logo {
  width: 142px;
  height: 33px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-left: 27px;
    margin-bottom: 31.6px;
  }
}
