.register__password-input {
  background-color: transparent;
  color: #fff;
  border: 0;
  border-bottom: 2px solid #ccc;
  outline: 0;
  padding: 13px 0 13px;
  margin: 17px 0 216px;
  font-size: 14px;
  line-height: 17px;
}

.register__password-input::placeholder {
  color: #ccc;
}
