.elements {
  width: 880px;
  margin: 0 auto 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px 17px;
  margin-bottom: 66px;
}

@media screen and (min-width: 320px) and (max-width: 1279px) {
  .elements {
    width: 282px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 48px;
  }
}
