.header__email {
  font-family: "Inter", "Arial ", sans-serif;
  position: relative;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  color: #ffffff;

  margin: 0;
  padding: 0;
}
